:root {
    --height-content: 270px;
}

.content-cuponbanner {
    background-image: linear-gradient(to right, #ff6300, #ff9e00);
    position: fixed;
    width: 100%;
    left: 0;
    bottom: 0;
    display: flex;
}

.content-cuponbanner .content-text, .content-cuponbanner .content-img, .content-cuponbanner .content-opacity1, .content-cuponbanner .content-opacity2 {
    position: absolute;
    height: var(--height-content);
    width: 70%;
    height: 100%;
}

.content-cuponbanner .content-text, .content-cuponbanner .content-opacity1, .content-cuponbanner .content-opacity2 {
    top: 0;
    background-image: linear-gradient(to right, #ff6300, #ff9e00);
    -webkit-clip-path: polygon(0 0, 75% 0%, 100% 100%, 0% 100%);
    clip-path: polygon(0 0, 75% 0%, 100% 100%, 0% 100%);
}

.content-cuponbanner .content-opacity1 {
    left: 40px;
    z-index: 0;
    opacity: 0.9;
}

.content-cuponbanner .content-opacity2 {
    left: 80px;
    opacity: 0.5;
}

.content-cuponbanner .content-text {
    left: 0;
    height: 100%;
    top: 0;
    position: relative;
    text-align: center;
    font-family: sans-serif;
    color: white
}

.content-cuponbanner .content-img {
    width: 47%;
    height: 100%;
    right: 0;
    top: 0;
    background-image: url(walter.jpg);
    background-repeat: no-repeat;
    background-position: right 60%;
    background-size: cover;
    z-index: -1;
}

.content-cuponbanner .title {
    color: white;
    text-align: center;
    font-size: 39px;
    margin: 18px 0;
}

.content-cuponbanner .cupon {
    padding: 0px 15px;
    border-radius: 50px;
    border: 2px dashed white;
    color: white;
    margin: 0 auto;
    max-height: 52px;
    display: flex;
    justify-content: center;
    vertical-align: middle;
    align-items: center;
    box-shadow: 0 0 10px 4px #ffffff36;
}

.content-cuponbanner .porcentaje {
    font-size: 70px;
    font-weight: bold;
}

.content-cuponbanner .off {
    font-size: 14px;
    font-weight: 100;
    position: relative;
    bottom: 2px;
    left: 6px;
    margin: 0;
}

.content-cuponbanner .content-row {
    display: flex;
    vertical-align: middle;
    align-items: center;
    justify-content: center;
}

.content-cuponbanner .line {
    height: 106px;
    width: 2px;
    background: white;
    margin: 0 6%;
}

.content-cuponbanner .banner-text {
    padding-right: 100px;
}

.content-cuponbanner .close {
    text-decoration: initial;
    position: absolute;
    top: -20px;
    right: 15px;
    background: #ff9000;
    border-radius: 100%;
    width: 40px;
    height: 40px;
    text-align: center;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content-cuponbanner .btn-mobile {
    display: none
}

@media (max-width: 880px) {
    .content-cuponbanner .title {
        font-size: 24px;
    }
    .content-cuponbanner .content-text, .content-cuponbanner .content-opacity1, .content-cuponbanner .content-opacity2 {
        width: 80%;
    }
    .content-cuponbanner .content-img {
        width: 40%;
    }
}

@media (max-width: 660px) {
    .content-cuponbanner .banner-text {
        padding-right: 65px;
    }
    .content-cuponbanner .porcentaje {
        font-size: 50px;
    }
}

@media (max-width: 610px) {
    .content-cuponbanner .banner-text {
        padding-right: 20px;
    }
    .content-cuponbanner .line {
        display: none
    }
    .content-cuponbanner .content-cupon {
        display: none
    }
    .content-cuponbanner .btn-mobile {
        display: block;
        margin: 10px 11px;
    }
}